*.pro.user
build
demo

*.a
*.o
Makefile

cxx11-compat-test.log
cxx11-compat-test-build/cxx11-compat-test

btrace/libsw-btrace.so
btrace/libsw-btrace.so.1
btrace/libsw-btrace.so.1.0
btrace/libsw-btrace.so.1.0.0
clang-indexer/sw-clang-indexer
index-tool/sw-index-tool
navigator/moc_Application.cpp
navigator/moc_FindBar.cpp
navigator/moc_FolderWidget.cpp
navigator/moc_MainWindow.cpp
navigator/moc_PlaceholderLineEdit.cpp
navigator/moc_ReportDefList.cpp
navigator/moc_ReportFileList.cpp
navigator/moc_ReportRefList.cpp
navigator/moc_ReportSymList.cpp
navigator/moc_SourceWidget.cpp
navigator/moc_TableReport.cpp
navigator/moc_TableReportView.cpp
navigator/moc_TableReportWindow.cpp
navigator/qrc_navigator.cpp
navigator/sourceweb
navigator/ui_MainWindow.h
